# CRM Configurations
CRM_URL=https://inwo.crmcore.me/api/lead_management/api/affiliates
CRM_ENDPOINT=https://inwo.crmcore.me/api/lead_management/api/affiliates
CRM_TOKEN=your_crm_token_here

# Vercel Blob Configurations
BLOB_STORE_ID=your_blob_store_id
BLOB_READ_WRITE_TOKEN=your_blob_read_write_token
